/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5e94db;
    color: #333;
}


header {
    background-color: #0078D7; 
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 30px;

}

/* Estilo del menú de navegación */
.barra_navegacion {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.5s;
}


nav ul li a:hover {
    background-color: rgba(51, 166, 238, 0.2); /* Para que cambie el color al pasar el mouse */
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(173, 221, 60, 0.986);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0078D7;
}

p {
    line-height: 1.6;
}

/* Estilo del footer */
footer {
    text-align: center;
    background-color: #0076d7c7;
    color: white;
    padding: 30px;
    margin-top: 200px;
}


.error {
    color: #ff0000;
}

.you-win{

    color: #00ff00;
}


.borde-error {
    border: 2px solid red;
}